.content {
  min-height: 100vh;
  max-width: $contentWidth;
  margin: 0 auto $navHeight;
  padding: #{$navHeight * 1.5} $contentPadding 0;
}

/* blog stuff */
a:not([class]) {
  box-shadow: 0 0.1em var(--primary-color), inset 0 -0.1em var(--primary-color);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0.1em var(--primary-color),
      inset 0 -1.6em var(--primary-color);
  }
}

article {
  max-width: 48rem;
  margin: auto;

  p {
    margin: 1em 0;

    @include minTablet {
      margin-left: 1em;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 2rem;
  }

  blockquote {
    font-style: italic;

    p:first-of-type:before,
    p:last-of-type:after {
      display: inline-block;
      min-width: 0.5em;
      font-size: 2em;
      line-height: 1rem;
      vertical-align: text-bottom;
      color: var(--primary-color);
    }

    p:first-of-type:before {
      content: open-quote;
    }
    p:last-of-type:after {
      content: close-quote;
      text-align: center;
    }
  }
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  display: inline-block;

  &:hover .permalink__icon {
    opacity: 0.25;
  }
}

.permalink {
  $size: 1.5rem;
  position: absolute;
  top: 50%;
  height: $size;
  width: $size;
  margin-top: #{-$size / 2};
  margin-left: -$size;

  &__icon {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:focus &__icon,
  &:hover &__icon {
    opacity: 0.5;
  }
}
