.skip-navigation {
  position: fixed;
  top: 0.25em;
  left: 50%;
  padding: 0.5em 1em;
  transform: translate3d(-50%, -150%, 0);
  background-color: #111;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: transform 0.2s, opacity 0.1s 0.05s;
  z-index: 2;

  &:focus {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}

.nav {
  position: sticky;
  top: -$navHeight;
  right: 0;
  left: 0;
  height: $navHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  transition: background-color 0.25s ease, box-shadow 0.25s ease, top 0.25s ease;
  z-index: 1;

  &--fixed {
    top: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  &__inner {
    padding: 0 $contentPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 $contentWidth;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    margin-top: 0.3em;
    padding: 0 0.2em 0.3rem;
    margin-right: 1em;

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 0.3em;
      width: 100%;
      background-color: var(--secondary-c);
      opacity: 0;
      transition: opacity 0.25s ease, background-color 0.25s ease;
    }

    &:not([aria-current]) {
      &:hover,
      &:focus {
        &::after {
          background-color: currentColor;
          opacity: 0.2;
        }
      }
    }

    &[aria-current]::after {
      opacity: 1;
    }
  }
}

.logo {
  color: inherit;
}

.theme-switcher {
  width: 1.5rem;
  height: 1.5rem;
  background-image: var(--theme-switch-image);
  transition: background-image 0.25s ease;
}
