.cards {
  margin: 1.5rem 0 3rem;
  display: grid;
  grid-gap: 2rem;

  @media (--tablet) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.card {
  position: relative;
  padding: 1rem 1rem 1.5rem;
  background-color: var(--bg-color-secondary);
  transition: background-color 0.25s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: var(--secondary-c);
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.25s ease;
  }

  &:hover::after {
    transform: scaleY(1);
  }
}

.post {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__title {
    color: var(--secondary-c);
  }

  &__date {
    opacity: 0.8;
    font-size: smaller;
  }

  &__summary {
    margin-top: 0.5rem;
    flex: 1 1 100%;
  }
}

.project {
  &__link {
    display: block;
    color: var(--secondary-c);

    &:focus {
      outline: none;
      &::before {
        @mixin focus;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__content {
    p {
      margin-top: 0.5em;
    }
    a {
      position: relative;
    }
  }
}

.blog {
  &__avatar {
    float: left;
    width: 4rem;
    height: auto;
    margin-right: 1rem;
    border-radius: 50%;
  }
}
