.cards {
  margin: 1.5rem 0 3rem;
  display: grid;
  grid-gap: 2rem;

  @include minTablet {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.card {
  position: relative;
  padding: 1rem 1rem 1.5rem;
  background-color: var(--bg-color-secondary);
  transition: background-color 0.25s ease;

  &__date {
    opacity: 0.8;
    font-size: smaller;
  }

  &__link {
    display: block;
    color: var(--primary-color);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
    }
    &:focus {
      outline: none;

      &::before {
        @include focus;
      }
    }

    &::after {
      content: '';
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      block-size: 0.5rem;
      background-color: var(--primary-color);
      transform-origin: bottom;
      transform: scaleY(0);
      transition: transform 0.25s ease;
    }
    &:hover::after {
      transform: scaleY(1);
    }
  }

  &__text {
    margin-block-start: 0.5em;

    a {
      position: relative;
      z-index: 2;
    }
  }
}
