.cursor {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.4s 0.1s ease;
  z-index: 9;

  &[hidden] {
    display: block;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
  }

  &::before {
    top: -0.75rem;
    left: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1em solid currentColor;
    transition: transform 0.25s ease;
  }

  &::after {
    top: -0.05em;
    left: -0.05em;
    width: 0.1em;
    height: 0.1em;
    background-color: currentColor;
  }

  &--over-cta::before {
    transform: scale(1.25);
  }

  &--mouse-down::before {
    transform: scale(0.75);
  }
}

.hide-cursor {
  &,
  a,
  button {
    cursor: none;
  }
}
