.hero {
  min-height: 40vh;
  padding: 2rem 0;

  @include minTablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__headline {
    @include fluid-size(20rem, 75rem, 2.25rem, 5rem);
  }

  &__image {
    @include fluid-size(20rem, 75rem, 9rem, 20rem, 'width');
    border-radius: 50%;
    margin: 0 auto 2rem;

    @include minTablet {
      margin: 0;
    }
  }
}
