.cards {
  margin: 1rem 0 3rem;

  @media (--tablet) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.card {
  display: block;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--bg-color-secondary);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.25s ease;
}

.post {
  color: inherit;

  &__title {
    color: var(--secondary-c);
  }

  &__date {
    opacity: 0.8;
    font-size: smaller;
  }
}
