.page-list {
  display: grid;
  gap: 0.5rem;

  &__item {
    display: flex;
  }

  &__link {
    display: grid;
    grid-template-columns: 1em 1fr;
    gap: 0.5rem;
    padding-inline: 0.5rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--primary-color);
    }
  }

  &__image {
    margin-block-start: 0.25em;

    border-radius: 0.5em;
  }
}
