/*
 * Colors from Material Light Theme for Prism.JS
 */
@define-mixin prism-default-theme-colors {
  --prism-token: hsl(13, 92%, 62%);
  --prism-token-namespace: hsla(13, 92%, 62%, 0.5);

  --prism-token-comment: hsl(199, 22%, 73%);
  --prism-token-prolog: var(--prism-token-comment);

  --prism-token-tag: hsl(1, 77%, 55%);
  --prism-token-entity: var(--prism-token-tag);
  --prism-token-selector: var(--prism-token-tag);
  --prism-token-url: var(--prism-token-tag);
  --prism-token-variable: var(--prism-token-tag);
  --prism-token-deleted: var(--prism-token-tag);

  --prism-token-atrule: hsl(256, 100%, 65%);
  --prism-token-important: var(--prism-token-atrule);
  --prism-token-number: var(--prism-token-atrule);
  --prism-token-function: var(--prism-token-atrule);
  --prism-token-keyword: var(--prism-token-atrule);
  --prism-token-boolean: var(--prism-token-atrule);
  --prism-token-constant: var(--prism-token-atrule);
  --prism-token-symbol: var(--prism-token-atrule);

  --prism-token-string: hsl(35, 92%, 58%);
  --prism-token-attr-value: var(--prism-token-string);

  --prism-token-property: hsl(184, 52%, 47%);
  --prism-token-punctuation: var(--prism-token-property);
  --prism-token-operator: var(--prism-token-property);
  --prism-token-builtin: var(--prism-token-property);
  --prism-token-char: var(--prism-token-property);

  --prism-token-class-name: hsl(217, 38%, 55%);
  --prism-token-regex: var(--prism-token-class-name);
}

/*
 * Colors from Dracula Theme for Prism.JS
 */
@define-mixin prisim-dark-theme-colors {
  --prism-token: hsl(326, 100%, 74%);
  --prism-token-important: var(--prism-token);
  --prism-token-keyword: var(--prism-token);
  --prism-token-builtin: var(--prism-token);

  --prism-token-comment: hsl(225, 27%, 51%);

  --prism-token-prolog: hsl(60, 12%, 79%);
  --prism-token-selector: var(--prism-token-prolog);

  --prism-token-tag: hsl(326, 62%, 64%);

  --prism-token-entity: hsl(191, 97%, 77%);
  --prism-token-operator: var(--prism-token-entity);

  --prism-token-atrule: hsl(128, 82%, 66%);

  --prism-token-url: hsl(190, 81%, 67%);

  --prism-token-string: hsl(65, 92%, 76%);

  --prism-token-property: hsl(31, 100%, 71%);
  --prism-token-class-name: var(--prism-token-property);
  --prism-token-boolean: var(--prism-token-property);
  --prism-token-constant: var(--prism-token-property);
  --prism-token-symbol: var(--prism-token-property);

  --prism-token-punctuation: var(--text-color);

  --prism-token-number: hsl(265, 89%, 78%);

  --prism-token-function: hsl(135, 94%, 65%);
  --prism-token-regex: var(--prism-token-function);
  --prism-token-variable: var(--prism-token-function);

  --prism-token-char: hsl(349, 100%, 76%);

  --prism-token-attr-value: hsl(143, 39%, 64%);

  --prism-token-deleted: hsl(358, 65%, 68%);
  --prism-token-namespace: var(--prism-token-deleted);
}
