---
permalink: '{{ page.filePathStem | replace("/index", "") }}.xml'
---
<opml version="1.0">
  <head>
    <title>Blogroll RSS Feeds {{ title | safe }}</title>
  </head>
  <body>
    {%- for blog in blogs | sort %}
      <outline type="rss" title="{{ blog.name }}" xmlUrl="{{ blog.rss }}" htmlUrl="{{ blog.url }}" />
    {%- endfor %}
  </body>
</opml>