---
layout: views/base.njk
title: Home
nav: true
---
<header class="hero">
  <img class="hero__image" src="/me.png" alt="A Picture of Me" height="320" width="320" />
  <h1 class="hero__headline">
    <small>Hey I'm</small>
    <br/>
    <a href="/about">{{ meta.owner.name }}</a>
  </h1>
</header>

<h2>My latest Posts</h2>
<div class="cards">
  {%- for post in collections.post | reverse %}
    <a class="card post" href="{{ post.url }}">
      <h3 class="post__title">{{ post.data.title }}</h3>
     {{ post.date | htmlTime('post__date') | safe }}
      <p class="post__summary">
        {%- if post.data.excerpt -%}
          {{ post.data.excerpt | truncate(280) | trim }}
        {%- else -%}
          {{ post.templateContent | striptags(true) | replace(post.data.title, '') | truncate(280) | trim }}
        {%- endif -%}
      </p>
    </a>
  {%- endfor %}
</div>

<h2>Projects i worked / i'm working on.</h2>
<div class="cards">
  {%- for project in collections.project | sort %}
    <div class="card project">
      <a href="{{ project.data.url }}" class="project__link"><h3>{{ project.data.title }}</h3></a>
      <div class="project__content">{{ project.templateContent | safe }}</div>
    </div>
  {%- endfor %}
</div>

