---
layout: views/base.njk
title: Home
nav: true
order: 1
---

<div class="hero">
  <img class="hero__image" src="/me.jpg" alt="A Picture of 'Me'" height="320" width="320" />
  <h1 class="hero__headline">
    <small>Hey I'm</small><br/>{{ meta.owner.name }}
  </h1>
</div>

<h2>My latest Posts</h2>
<div class="cards">
  {%- for post in collections.post | reverse %}
    <div class="card card--post">
      <a class="card__link" href="{{ post.url }}"><h3>{{ post.data.title }}</h3></a>
      {{ post.date | htmlTime('card__date') | safe }}
      <div class="card__text">
        <p>
          {%- if post.data.description -%}
            {{ post.data.description | truncate(280) | trim }}
          {%- else -%}
            {{ post.templateContent | striptags(true) | replace(post.data.title, '') | truncate(280) | trim }}
          {%- endif -%}
        </p>
      </div>
    </div>
  {%- endfor %}
</div>

<h2>Projects i worked / i'm working on.</h2>
<div class="cards">
  {%- for project in collections.project | sort %}
    <div class="card">
      <a href="{{ project.data.url }}" class="card__link"><h3>{{ project.data.title }}</h3></a>
      <div class="card__text">{{ project.templateContent | safe }}</div>
    </div>
  {%- endfor %}
</div>

