---
permalink: site.webmanifest
---

{
  "name": "{{ meta.title }}",
  "short_name": "{{ meta.owner.name }}",
  "icons": [
    {
      "src": "/android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "/android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ],
  "theme_color": "#E92063",
  "background_color": "#bbbbbb",
  "display": "standalone"
}
