:root {
  --primary-c: hsl(207, 90%, 54%);
  --secondary-c: hsl(340, 82%, 52%);

  @mixin defaultTheme;
  @mixin finalThemeColors;

  @media (--dark) {
    @mixin darkTheme;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  transition: background-color 0.25s ease, color 0.25s ease;

  &.other-theme {
    @mixin darkTheme;
    @mixin finalThemeColors;

    @media (--dark) {
      @mixin defaultTheme;
    }
  }

  &.no-transition {
    &,
    & * {
      transition-duration: 0s;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}
