:root {
  --primary-color: hsl(340, 82%, 52%);

  @mixin default-theme;
  @mixin final-theme-colors;

  @media (--dark) {
    @mixin dark-theme;
  }
}

html {
  &.other-theme {
    @mixin dark-theme;
    @mixin final-theme-colors;

    @media (--dark) {
      @mixin default-theme;
    }
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.25s ease, color 0.25s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  @mixin focus;
}
[tabindex='-1'] {
  outline: none;
}
