:root {
  --primary-color: hsl(340, 82%, 52%);

  @include default-theme;
  @include final-theme-colors;

  @include schemeDark {
    @include dark-theme;
  }
}

html {
  &.other-theme {
    @include dark-theme;
    @include final-theme-colors;

    @include schemeDark {
      @include default-theme;
    }
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.25s ease, color 0.25s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  @include focus;
}
[tabindex='-1'] {
  outline: none;
}

hr {
  border: 0;
  border-block-start: 1px solid grey;
  margin-block: 5rem;
}
