:root {
  --primary-color: hsl(340, 82%, 52%);

  @mixin defaultTheme;
  @mixin finalThemeColors;

  @media (--dark) {
    @mixin darkTheme;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.25s ease, color 0.25s ease;

  &.other-theme {
    @mixin darkTheme;
    @mixin finalThemeColors;

    @media (--dark) {
      @mixin defaultTheme;
    }
  }

  &.no-transition {
    &,
    & * {
      transition-duration: 0s;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  @mixin focus;
}
[tabindex='-1'] {
  outline: none;
}
